@media (max-width: 1023px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 100px;
        padding: 0 10px;
    }

    .header-logo {
        margin: 0 10px 0 0;
    }

    .header-logo svg {
        width: 28px;
        height: 28px;
    }

    .theme-toggle {
        margin-left: 6px;
        padding: 3px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 18px;
        margin-right: 12px;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .burger-menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.3s ease;
    }

    @media (min-width: 1024px) {
        .burger-menu {
            display: none;
        }
    }

    [data-theme="light"] {
        .burger-menu span {
            background-color: black;
        }
    }
}