.json-setting {
    width: 50%;
    background: transparent;
    color: var(--text-primary);
    padding: 16px 24px;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    transition: var(--transition-theme);
}