@media (max-width: 1023px) {
    .json-body {
        width: 100% !important;
        padding: 15px;
    }

    .json-toolbar {
        gap: 6px;
        margin-bottom: 8px;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 5px;
    }

    .json-button {
        padding: 5px 10px !important;
        font-size: 0.75rem !important;
        white-space: nowrap;
        flex-shrink: 0;
    }

    .main-container {
        flex-direction: column !important;
    }

    .json-editor-container {
        min-height: 300px;
        padding: 0;
    }

    .json-toolbar::-webkit-scrollbar {
        display: none;
    }

    .json-toolbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #file-input {
        font-size: 0.8rem;
    }
    
    .json-textarea.drag-over {
        border-width: 1px !important;
    }

    .line-numbers {
        width: 30px;
        padding: 10px 3px;
        font-size: 12px;
    }

    .json-textarea {
        padding: 10px;
        word-break: break-all;
    }

    .current-line::after {
        left: 30px !important;
    }
}