.footer {
    background: var(--android-dark);
    border-top: 2px solid var(--android-green);
    color: white;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin-top: auto;
}

.footer-year {
    margin-top: 10px;
    color: var(--android-green);
}

[data-theme="light"] {
    .footer {
        background: var(--android-dark);
        border-color: rgba(0, 0, 0, 0.1);
    }

    .footer-menu li a {
        color: var(--android-light);
    }

    .footer-year {
        color: #333;
        background-color: rgba(0, 0, 0, 0.05);
    }
}